*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    color:rgb(9, 148, 255);
    background:linear-gradient(to right top,black  ,white );
    /* background-color: black; */
    display: flex;
    height:10vh;
    align-items: center;
    padding-left: 5vw;
    text-transform: uppercase;
}
.main{
  overflow: hidden;
    opacity:0.7;
    z-index:2;
    background:linear-gradient(to right top,#65dfc9,#65dfc9);
    height: 100vh;
    width:100vw;
}
.container{
    
    box-shadow:.5em .7em .5em rgb(9, 148, 255);
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-rows:repeat(3,8vw);
    grid-template-columns:repeat(3,8vw) ;
    margin-top:2vw;
    margin-bottom: 1vw;
    background: linear-gradient(to right bottom,rgba(255,255,255,.3),rgba(255,255,255,.7));
   margin-left:15%;
   margin-right:15%;
   border-radius: 2em;
}
.gameinfo h3{
    margin:0 37%;
}

#info{
    font-size:1em;
    font-weight: 400;
   margin-left:5%;  
}
#winner::first-letter{
  color:red;
  font-size: 1.5em;
}
#turnturn{
   color:red;
  font-size: 1.5em;
}
 #winner{
     margin-left: 5%;
 }
 #reset:hover{
     color:rgb(9,148,255);
     /* border:.1em solid blue; */
     background:linear-gradient(to right bottom,
     rgba(255,255,255,0.8),rgba(255,255,255,.1));
 }
#reset{
    box-shadow:inset .1em .1em .1em rgb(9, 148, 255),.1em .2em .1em rgb(9, 148, 255);
    width:4vw;
    height:4vw;
    border:0.1em solid rgb(9,148,255);
    border-radius: 1em;
    margin: 0px 92%;
    background:linear-gradient(to right bottom,
    rgba(255,255,255,0.1),rgba(255,255,255,.8));
    /* box-shadow: 5px 5
    px 10px rgba(9,148,255,.25),-2px -2px 5px rgba(9, 148, 255,.05),inset -2px -2px  5px rgba(9, 148, 255,.25); */
    color:rgb(9,148,255);
}
.dis{
    background-color: black;
    color:white;
}
.box{
    display:flex;
 border:.13em solid #65dfc9;
 font-size:2em;
 align-items:center;
 justify-content: center;
 border-right:0px;
 transition:background-color 2s ease-in-out;
}
@keyframes fill{
    0%{
    background:white;
    }
    100%{
        background:aquamarine ;
    }
}
.gameinfo{
    box-shadow:.5em .7em .5em rgb(9, 148, 255);
    background:linear-gradient(to  bottom,
    rgba(255,255,255,0.3),rgba(255,255,255,0.7));
    /* box-shadow:25px 25px 50px rgba(9, 148, 255,.25),-10px -10px 30px rgba(9, 148, 255,.1),inset -5px -5px 15px rgba(9,148,255,.5); */
    border-radius: 2em;
    text-transform: uppercase;
    justify-content: center;
    margin:3vh 15vw 0px 15vw;
    height:25vh;
    display: flex;
    flex-direction: column;
}
.gameinfo:hover{
    background:linear-gradient(to  bottom,
    rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}
.box:hover{
    cursor: pointer;
    animation:fill .5s linear ;
    background-color:aquamarine;
}
.bt{
    border-top:0px;
}
.bb{
    border-bottom: 0px;
}
.bl{
    border-left: 0px;
}


@media (max-width:1000px){
    #reset{
        width:8vw;
        border-radius: 5px;
        border:0.1em solid rgb(9,148,255);
        margin: 0px 80%;
        color:rgb(9,148,255);
    }
    .container{
        height:48vw;
        padding-top:6vw;
        padding-bottom:6vw ;
        grid-template-rows:repeat(3,12vw);
        grid-template-columns:repeat(3,12vw) ;
    }
}
@media (max-width:750px){
    .container{
        height:75vw;
        padding-top:15vw;
        padding-bottom:15vw ;
        grid-template-rows:repeat(3,15vw);
        grid-template-columns:repeat(3,15vw) ;
    }
}
@media (max-width:500px){
    #reset{
        width:9vw;
        border-radius: 5px;
        border:0.1em solid rgb(9,148,255);
        margin: 0px 70%;
        color:rgb(9,148,255);
    }
    .gameinfo h3{
        font-size: smaller;
    }

    .container{
        height:auto;
        padding-top:5vw;
        padding-bottom:5vw ;

    }
}
.line{
    background-color: rgb(9,148,255);
    height: 3px;
    width:16vw;
    position:absolute;
    justify-content: center;
    margin-bottom: 1vw; 
    display:none;
     /* left:27vw;
     top:12vw; 
     transform: rotate(135deg);  */
}
/* 42 4 0
   42 12 0
   42 20 0
   34 12 90
   42 12 90
   50 12 90
   42 12 45
   42 12 135
  */